html,
body,
div,
span,
p,
h1,
h2,
h3,
h4,
h5,
h6,
b,
i,
a,
em,
input,
form,
img,
ul,
li,
dl,
dt,
section,
article,
nav,
menu,
aside,
header,
footer {
  margin: 0;
  padding: 0;
  border: 0;
  outline: none;
  font-style: normal;
  font-weight: normal;
  box-sizing: border-box;
}
section,
article,
nav,
menu,
aside,
header,
footer,
musicbox,
conctrl,
left,
right,
top,
bottom {
  display: block;
}
ul,
li,
ol {
  list-style: none;
}
a {
  text-decoration: none;
}
img {
  display: inline-block;
}
/*新闻详情*/
.main_xwxq {
  width: 1200px;
  height: auto;
  overflow: hidden;
  margin: 0 auto;
}
.main_xwxq .indexing {
  width: 100%;
  height: 54px;
  border-bottom: 1px solid #F2F2F2;
  padding-top: 18px;
}
.main_xwxq .indexing img {
  vertical-align: middle;
  width: 15px;
  height: 15px;
  margin-right: 8px;
}
.main_xwxq .indexing p {
  height: 16px;
  font-size: 16px;
  color: #ABABAB;
}
.main_xwxq .content {
  width: 100%;
  height: auto;
  overflow: hidden;
  margin-top: 20px;
}
.main_xwxq .content .leftbar {
  width: 840px;
  height: auto;
  overflow: hidden;
  float: left;
}
.main_xwxq .content .leftbar .top_title {
  width: 100%;
  height: 90px;
  border-bottom: 1px solid #F2F2F2;
}
.main_xwxq .content .leftbar .top_title h2 {
  font-size: 20px;
  line-height: 40px;
  margin-top: 15px;
}
.main_xwxq .content .leftbar .top_title span {
  font-size: 14px;
  display: inline-block;
  height: 14px;
  margin-right: 40px;
  color: #979797;
}
.main_xwxq .content .leftbar .top_title span img {
  width: 14px;
  height: 14px;
  vertical-align: middle;
  margin: 0 4px;
}
.main_xwxq .content .leftbar .content_text {
  width: 100%;
  height: auto;
  overflow: hidden;
  padding: 20px;
}
.main_xwxq .content .leftbar .content_text p {
  font-size: 14px;
  line-height: 28px;
  color: #868686;
  text-indent: 28px;
}
.main_xwxq .content .leftbar .content_text .img {
  width: 650px;
  height: 400px;
  margin: 20px auto;
  background: url(../img/news/cont.gif) no-repeat;
  background-size: 100% 100%;
}
.main_xwxq .content .leftbar .content_text .back {
  float: left;
  margin-top: 40px;
  line-height: 28px;
}
.main_xwxq .content .leftbar .content_text .back img {
  width: 40px;
  height: 28px;
  margin: 0 4px;
  vertical-align: middle;
}
.main_xwxq .content .leftbar .content_text .bottom {
  width: 100%;
  height: auto;
  border-top: 1px solid #F3F3F3;
  border-bottom: 1px solid #F3F3F3;
  position: relative;
  margin-top: 15px;
  float: left;
}
.main_xwxq .content .leftbar .content_text .bottom a {
  font-size: 14px;
  line-height: 74px;
  color: #6B6B6B;
}
.main_xwxq .content .leftbar .content_text .bottom a:nth-child(1) {
  float: left;
}
.main_xwxq .content .leftbar .content_text .bottom a:nth-child(2) {
  width: auto;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
}
.main_xwxq .content .leftbar .content_text .bottom a:nth-child(3) {
  float: right;
}
.main_xwxq .content .leftbar .content_text .apply {
  width: 150px;
  height: 38px;
  float: right;
  background: #C5C5C5;
  margin-top: 40px;
  text-align: center;
  line-height: 38px;
  color: #FFFFFF;
}
.main_xwxq .content .rightbar {
  width: 310px;
  height: auto;
  overflow: hidden;
  float: right;
  padding: 16px;
  background: #F5F6FA;
}
.main_xwxq .content .rightbar h3 {
  font-size: 18px;
  line-height: 36px;
  color: #3276E5;
  border-bottom: 1px solid #E2E4E3;
}
.main_xwxq .content .rightbar > ul {
  width: 100%;
  height: auto;
}
.main_xwxq .content .rightbar > ul li {
  padding: 10px 0;
  border-bottom: 1px solid #E2E4E3;
}
.main_xwxq .content .rightbar > ul li a:nth-child(1) {
  font-size: 16px;
  color: #3B3D3A;
  line-height: 20px;
}
.main_xwxq .content .rightbar > ul li p:nth-child(2) {
  font-size: 14px;
  color: #747575;
  line-height: 20px;
}
.main_xwxq .content .rightbar > ul li span {
  font-size: 12px;
  color: #AAACAB;
  line-height: 30px;
}
/*新闻详情 end*/
/*新闻中心*/
.banner_xwzx {
  width: 100%;
  height: auto;
}
.banner_xwzx img {
  width: 100%;
  height: 100%;
}
.news_center {
  width: 1200px;
  height: auto;
  overflow: hidden;
  margin: 0 auto;
}
.news_center .indexing {
  width: 100%;
  height: 54px;
  border-bottom: 1px solid #F2F2F2;
  padding-top: 18px;
}
.news_center .indexing img {
  vertical-align: middle;
  width: 15px;
  height: 15px;
  margin-right: 8px;
}
.news_center .indexing p {
  height: 16px;
  font-size: 16px;
  color: #ABABAB;
}
.news_center #table {
  width: 300px;
  height: auto;
  overflow: hidden;
  margin: 15px auto;
}
.news_center #table > li {
  width: 90px;
  height: 32px;
  border: 1px solid #E7E7E7;
  text-align: center;
  line-height: 32px;
  font-size: 16px;
  color: #656565;
  float: left;
  margin: 0 3px;
  cursor: pointer;
}
.news_center #table > li:hover {
  background: #387BEA;
  color: #fff;
}
.news_center #table .alid {
  background: #387BEA;
  color: #fff;
}
.news_center .carousel {
  width: 100%;
  height: auto;
  overflow: hidden;
}
.news_center .carousel .show {
  display: block;
}
.news_center .carousel > div {
  width: 100%;
  height: auto;
  overflow: hidden;
  display: none;
}
.news_center .carousel > div > ul {
  width: 100%;
  height: auto;
  margin: 20px 0;
  display: flex;
  justify-content: space-around;
}
.news_center .carousel > div > ul .activity {
  width: 280px;
  height: 330px;
  background: #F7F8FB;
  padding: 15px;
  display: block;
}
.news_center .carousel > div > ul .activity:hover {
  background: #387BEA;
}
.news_center .carousel > div > ul .activity:hover > .activity_text h4,
.news_center .carousel > div > ul .activity:hover > .activity_text p {
  color: #FFFFFF !important;
}
.news_center .carousel > div > ul .activity:hover > .activity_text h4 a,
.news_center .carousel > div > ul .activity:hover > .activity_text p a {
  color: #FFFFFF !important;
}
.news_center .carousel > div > ul .activity .activity_img {
  width: 100%;
  height: 180px;
  background-size: 100% 100%;
  display: block;
}
.news_center .carousel > div > ul .activity .activity_img_one {
  background: url(../img/index/media01.jpg) no-repeat;
}
.news_center .carousel > div > ul .activity .activity_img_two {
  background: url(../img/index/media02.jpg) no-repeat;
}
.news_center .carousel > div > ul .activity .activity_img_three {
  background: url(../img/index/media03.jpg) no-repeat;
}
.news_center .carousel > div > ul .activity .activity_img_four {
  background: url(../img/index/media04.jpg) no-repeat;
}
.news_center .carousel > div > ul .activity .activity_text {
  width: 100%;
  height: 86px;
  margin-top: 6px;
  overflow: hidden;
}
.news_center .carousel > div > ul .activity .activity_text h4 {
  font-size: 16px;
  line-height: 24px;
  color: #303030;
}
.news_center .carousel > div > ul .activity .activity_text p:nth-child(2) {
  margin-top: 4px;
  font-size: 12px;
  line-height: 18px;
  color: #7E7E7F;
}
.news_center .carousel > div > ul .activity .activity_text p:nth-child(3) {
  margin-top: 6px;
  font-size: 12px;
  color: #7E7E7F;
}
.news_center .carousel > div > ul .activity .activity_text p:nth-child(3) span {
  float: left;
}
.news_center .carousel > div > ul .activity .activity_text p:nth-child(3) a {
  float: right;
  color: #7E7E7F;
}
.news_center .paging {
  width: 316px;
  height: 34px;
  border: 1px solid #E5E5E5;
  border-radius: 4px;
  margin: 0 auto 20px;
  display: flex;
}
.news_center .paging a {
  flex: 1;
  height: 34px;
  border-right: 1px solid #E5E5E5;
  text-align: center;
  line-height: 34px;
  color: #909090;
}
.news_center .paging a:nth-child(4) {
  border: none;
}
.news_center .paging a:hover {
  background: #387BEA;
  color: #fff;
}
/*新闻中心 end*/
/*代理商查询*/
body {
  background: #FAFAFA;
}
.find_dlscx {
  width: 1200px;
  height: auto;
  overflow: hidden;
  margin: 20px auto;
}
.find_dlscx .indexing {
  width: 100%;
  height: 54px;
  border-bottom: 1px solid #F2F2F2;
  padding-top: 18px;
}
.find_dlscx .indexing img {
  vertical-align: middle;
  width: 15px;
  height: 15px;
  margin-right: 8px;
}
.find_dlscx .indexing p {
  height: 16px;
  font-size: 16px;
  color: #ABABAB;
}
.find_dlscx .content {
  width: 100%;
  height: 500px;
  margin: 20px 0;
  border: 1px solid #D8D8D8;
  background: #fff;
}
.find_dlscx .content .input {
  width: 600px;
  height: 100px;
  border: 1px solid #D8D8D8;
  margin: 80px auto 0;
  padding: 12px 20px;
  line-height: 24px;
  font-size: 14px;
  display: block;
  color: #222222;
}
.find_dlscx .content .input::-webkit-input-placeholder {
  color: #CCCCCC;
}
.find_dlscx .content button {
  width: 100px;
  height: 40px;
  border: none;
  background: #387BEA;
  color: #FFFFFF;
  margin: 20px auto;
  display: block;
}
/*代理商查询 end*/
/*创始团队 公司简介*/
.banner_cstd {
  width: 100%;
  height: auto;
}
.banner_cstd img {
  width: 100%;
  height: 100%;
}
.content_gs {
  width: 1200px;
  height: auto;
  overflow: hidden;
  margin: 0 auto;
}
.content_gs .indexing {
  width: 100%;
  height: 54px;
  border-bottom: 1px solid #F2F2F2;
  padding-top: 18px;
}
.content_gs .indexing img {
  vertical-align: middle;
  width: 15px;
  height: 15px;
  margin-right: 8px;
}
.content_gs .indexing p {
  height: 16px;
  font-size: 16px;
  color: #ABABAB;
}
.content_gs .member {
  width: 100%;
  height: auto;
  overflow: hidden;
}
.content_gs .member > ul:nth-child(1) {
  width: 300px;
  height: auto;
  overflow: hidden;
  margin: 15px auto;
}
.content_gs .member > ul:nth-child(1) > li {
  width: 90px;
  height: 32px;
  border: 1px solid #E7E7E7;
  text-align: center;
  line-height: 32px;
  font-size: 16px;
  color: #656565;
  float: left;
  margin: 0 3px;
  cursor: pointer;
}
.content_gs .member > ul:nth-child(1) > li:hover {
  background: #387BEA;
  color: #fff;
}
.content_gs .member > ul:nth-child(1) .alid {
  background: #387BEA;
  color: #fff;
}
.content_gs .member .member_carousel {
  width: 100%;
  height: auto;
  overflow: hidden;
}
.content_gs .member .member_carousel .show {
  display: block !important;
}
.content_gs .member .member_carousel #gsjj {
  width: 100%;
  height: 100%;
  overflow: hidden;
  margin-bottom: 70px;
}
.content_gs .member .member_carousel #gsjj p:nth-child(1) {
  font-size: 14px;
  line-height: 32px;
  color: #808080;
  text-align: center;
  margin-bottom: 30px;
}
.content_gs .member .member_carousel #gsjj div {
  width: 100%;
  height: 400px;
}
.content_gs .member .member_carousel > div {
  display: none !important;
}
.content_gs .member .member_carousel #cstd {
  width: 100%;
  height: auto;
  overflow: hidden;
}
.content_gs .member .member_carousel #cstd .memberList {
  width: 100%;
  height: auto;
  margin: 30px 0;
  display: flex;
  justify-content: space-around;
}
.content_gs .member .member_carousel #cstd .memberList .menList {
  width: 220px;
  height: 380px;
  border-bottom: 10px solid #D5D5D5;
  background: #fff;
  cursor: pointer;
}
.content_gs .member .member_carousel #cstd .memberList .menList:hover {
  border-bottom: 10px solid #387BEA;
}
.content_gs .member .member_carousel #cstd .memberList .menList .name {
  width: 84%;
  height: 56px;
  line-height: 56px;
  text-align: center;
  margin: 0 auto;
  border-bottom: 1px solid #F8F8F8;
  font-size: 18px;
  color: #656565;
}
.content_gs .member .member_carousel #cstd .memberList .menList ul {
  width: 72%;
  height: auto;
  margin: 18px auto 0;
}
.content_gs .member .member_carousel #cstd .memberList .menList ul li {
  font-size: 14px;
  line-height: 24px;
  color: #656565;
}
.content_gs .member .member_carousel #cstd .memberList .menList .head {
  width: 100%;
  height: 200px;
  background-size: 100% 100%;
}
.content_gs .member .member_carousel #cstd .memberList .menList .head_one {
  background: url(../img/index/member01.jpg) no-repeat;
}
.content_gs .member .member_carousel #cstd .memberList .menList .head_two {
  background: url(../img/index/member02.jpg) no-repeat;
}
.content_gs .member .member_carousel #cstd .memberList .menList .head_three {
  background: url(../img/index/member03.jpg) no-repeat;
}
.content_gs .member .paging {
  width: 316px;
  height: 34px;
  border: 1px solid #E5E5E5;
  border-radius: 4px;
  margin: 0 auto 20px;
  display: flex;
}
.content_gs .member .paging a {
  flex: 1;
  height: 34px;
  border-right: 1px solid #E5E5E5;
  text-align: center;
  line-height: 34px;
  color: #909090;
}
.content_gs .member .paging a:nth-child(4) {
  border: none;
}
.content_gs .member .paging a:hover {
  background: #387BEA;
  color: #fff;
}
/*创始团队 公司简介 end*/
/*加入我们*/
.banner_joinus {
  width: 100%;
  height: auto;
}
.banner_joinus img {
  width: 100%;
  height: 100%;
}
.content_joinus {
  width: 1200px;
  height: auto;
  overflow: hidden;
  margin: 0 auto;
}
.content_joinus .indexing {
  width: 100%;
  height: 54px;
  border-bottom: 1px solid #F2F2F2;
  padding-top: 18px;
}
.content_joinus .indexing img {
  vertical-align: middle;
  width: 15px;
  height: 15px;
  margin-right: 8px;
}
.content_joinus .indexing p {
  height: 16px;
  font-size: 16px;
  color: #ABABAB;
}
.content_joinus .member {
  width: 100%;
  height: auto;
  overflow: hidden;
}
.content_joinus .member > ul:nth-child(1) {
  width: 300px;
  height: auto;
  overflow: hidden;
  margin: 15px auto;
}
.content_joinus .member > ul:nth-child(1) > li {
  width: 90px;
  height: 32px;
  border: 1px solid #E7E7E7;
  text-align: center;
  line-height: 32px;
  font-size: 16px;
  color: #656565;
  float: left;
  margin: 0 3px;
  cursor: pointer;
}
.content_joinus .member > ul:nth-child(1) > li:hover {
  background: #387BEA;
  color: #fff;
}
.content_joinus .member > ul:nth-child(1) .alid {
  background: #387BEA;
  color: #fff;
}
.content_joinus .member .member_carousel {
  width: 100%;
  height: auto;
  overflow: hidden;
  margin-top: 20px;
}
.content_joinus .member .member_carousel .show {
  display: block !important;
}
.content_joinus .member .member_carousel > div {
  display: none !important;
}
.content_joinus .member .member_carousel #lxwm .relation {
  width: 580px;
  height: 230px;
  border: 1px solid #ECECEC;
  float: left;
}
.content_joinus .member .member_carousel #lxwm .relation h3 {
  line-height: 48px;
  font-size: 18px;
  color: #222222;
  text-align: center;
}
.content_joinus .member .member_carousel #lxwm .relation i {
  width: 30px;
  border-bottom: 1px solid #ccc;
  display: block;
  margin: 4px auto 10px;
}
.content_joinus .member .member_carousel #lxwm .relation p {
  font-size: 12px;
  text-indent: 30px;
  color: #656565;
  line-height: 30px;
}
.content_joinus .member .member_carousel #lxwm .dinwei {
  width: 600px;
  height: 230px;
  float: right;
}
.content_joinus .member .member_carousel #lxwm .dinwei img {
  width: 100%;
  height: 100%;
}
.content_joinus .member .member_carousel #lxwm .bottomlist {
  width: 100%;
  float: left;
  margin: 20px 0;
  display: flex;
  justify-content: space-between;
}
.content_joinus .member .member_carousel #lxwm .bottomlist .zhongxs {
  width: 380px;
  height: 230px;
  border: 1px solid #ECECEC;
}
.content_joinus .member .member_carousel #lxwm .bottomlist .zhongxs h3 {
  line-height: 48px;
  font-size: 18px;
  color: #222222;
  text-align: center;
}
.content_joinus .member .member_carousel #lxwm .bottomlist .zhongxs i {
  width: 30px;
  border-bottom: 1px solid #ccc;
  display: block;
  margin: 4px auto 10px;
}
.content_joinus .member .member_carousel #lxwm .bottomlist .zhongxs p {
  font-size: 12px;
  text-indent: 20px;
  color: #656565;
  line-height: 30px;
}
.content_joinus .member .member_carousel #jrwm {
  width: 1000px;
  height: 230px;
  padding: 10px 30px;
  border: 1px solid #ECECEC;
  margin: 30px auto 70px;
}
.content_joinus .member .member_carousel #jrwm h3 {
  line-height: 32px;
  font-size: 18px;
  color: #222222;
  text-align: center;
}
.content_joinus .member .member_carousel #jrwm i {
  width: 30px;
  border-bottom: 1px solid #ccc;
  display: block;
  margin: 4px auto;
}
.content_joinus .member .member_carousel #jrwm p {
  font-size: 14px;
  line-height: 32px;
  text-indent: 28px;
  color: #656565;
}
.content_joinus .member .member_carousel #jrwm p a {
  color: #387BEA;
  text-decoration: underline;
}
/*加入我们 end*/
/*视屏详情*/
#purchase_box { /*弹出层*/
  width: 100vw;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.2);
  z-index: 5;
  display: none;
}
#purchase_box .purchase_cont {
  width: 700px;
  height: 400px;
  background: #FFFFFF;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
#purchase_box .purchase_cont .purchase_header {
  width: 100%;
  height: 40px;
  line-height: 40px;
  background: #387BEA;
}
#purchase_box .purchase_cont .purchase_header p {
  font-size: 16px;
  text-indent: 30px;
  float: left;
  color: #FFFFFF;
}
#purchase_box .purchase_cont .purchase_header i {
  float: right;
  margin: 10px 20px 10px 0;
  color: #FFFFFF;
  width: 20px;
  height: 20px;
  line-height: 20px;
  text-align: center;
  cursor: pointer;
}
#purchase_box .purchase_cont .purchase_header i:hover {
  background: rgba(0, 0, 0, 0.1);
}
#purchase_box .purchase_cont .purchase_main {
  width: 100%;
  height: calc(100% - 40px);
  padding: 24px 35px;
  display: block;
}
#purchase_box .purchase_cont .purchase_main .top {
  width: 100%;
  height: 80px;
  padding: 20px 30px;
  background: #F5F5F5;
}
#purchase_box .purchase_cont .purchase_main .top .left_img {
  width: 60px;
  height: 40px;
  margin-right: 20px;
  float: left;
}
#purchase_box .purchase_cont .purchase_main .top .left_img img {
  width: 100%;
  height: 100%;
}
#purchase_box .purchase_cont .purchase_main .top .right {
  width: calc(100% - 80px);
  height: 40px;
  line-height: 40px;
  display: flex;
  justify-content: space-between;
}
#purchase_box .purchase_cont .purchase_main .top .right p {
  width: auto;
  font-size: 16px;
  color: #707070;
}
#purchase_box .purchase_cont .purchase_main .top .right p span {
  color: #FF0000;
}
#purchase_box .purchase_cont .purchase_main > textarea {
  width: 100%;
  height: 120px;
  display: block;
  border: 1px solid #C5C5C5;
  margin-top: 30px;
  margin-bottom: 20px;
  padding: 8px 6px;
  font-size: 14px;
  line-height: 20px;
}
#purchase_box .purchase_cont .purchase_main button {
  width: 120px;
  height: 40px;
  background: #0064C6;
  font-size: 14px;
  color: #FFFFFF;
  border: none;
  border-radius: 4px;
  margin: 0 auto;
  display: block;
}
#purchase_box .purchase_cont .payment {
  width: 100%;
  height: calc(100% - 40px);
  padding: 24px 35px;
  display: none;
}
#purchase_box .purchase_cont .payment p {
  font-size: 16px;
  line-height: 32px;
}
#purchase_box .purchase_cont .payment .payment_fs {
  width: 630px;
  height: 240px;
  border: 1px solid #C7C7C7;
}
#purchase_box .purchase_cont .payment .payment_fs > ul {
  width: 150px;
  height: 100%;
  background: #F5F5F5;
  float: left;
}
#purchase_box .purchase_cont .payment .payment_fs > ul > li {
  height: 50px;
  width: 100%;
  border-bottom: 1px solid #CECECE;
  cursor: pointer;
  line-height: 50px;
  text-align: center;
}
#purchase_box .purchase_cont .payment .payment_fs > ul > li img {
  vertical-align: middle;
  margin-right: 4px;
}
#purchase_box .purchase_cont .payment .payment_fs > ul .alid {
  background: #FFFFFF;
}
#purchase_box .purchase_cont .payment .payment_fs .erweima {
  width: calc(100% - 150px);
  height: 100%;
  float: right;
}
#purchase_box .purchase_cont .payment .payment_fs .erweima > div {
  display: none !important;
}
#purchase_box .purchase_cont .payment .payment_fs .erweima > div img {
  width: 142px;
  height: 142px;
  display: block;
  margin: 30px auto 0;
}
#purchase_box .purchase_cont .payment .payment_fs .erweima > div p {
  font-size: 14px;
  color: #868686;
  line-height: 40px;
  text-align: center;
}
#purchase_box .purchase_cont .payment .payment_fs .erweima .show {
  display: block !important;
}
.content_spxq {
  width: 1200px;
  height: auto;
  overflow: hidden;
  margin: 0 auto 50px;
}
.content_spxq .indexing {
  width: 100%;
  height: 54px;
  border-bottom: 1px solid #F2F2F2;
  padding-top: 18px;
}
.content_spxq .indexing img {
  vertical-align: middle;
  width: 15px;
  height: 15px;
  margin-right: 8px;
}
.content_spxq .indexing p {
  height: 16px;
  font-size: 16px;
  color: #ABABAB;
}
.content_spxq .main_left {
  width: 840px;
  height: auto;
  overflow: hidden;
  float: left;
  margin-top: 25px;
}
.content_spxq .main_left h3 {
  font-size: 20px;
  color: #333333;
}
.content_spxq .main_left .top {
  width: 100%;
  height: auto;
  overflow: hidden;
  padding: 20px 0;
  border-bottom: 1px solid #E5E5E5;
}
.content_spxq .main_left .top .mfst {
  width: 400px;
  height: 290px;
  float: left;
  position: relative;
}
.content_spxq .main_left .top .mfst > img {
  width: 100%;
  height: 100%;
}
.content_spxq .main_left .top .mfst a {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 100px;
  height: 36px;
  line-height: 32px;
  text-align: center;
  color: #fff;
  font-size: 12px;
  border: 1px solid #FFFFFF;
}
.content_spxq .main_left .top .mfst a img {
  vertical-align: middle;
  width: 12px;
  height: 12px;
  margin-right: 4px;
}
.content_spxq .main_left .top .video_destils {
  width: 410px;
  height: 290px;
  float: right;
}
.content_spxq .main_left .top .video_destils p:nth-child(1) {
  height: 100%;
  height: 36px;
  line-height: 36px;
  border-bottom: 1px solid #E5E5E5;
  font-size: 12px;
  color: #656565;
  margin-bottom: 8px;
}
.content_spxq .main_left .top .video_destils p:nth-child(1) span {
  font-size: 18px;
  color: #FF3E3E;
}
.content_spxq .main_left .top .video_destils p {
  font-size: 14px;
  color: #656565;
  line-height: 26px;
}
.content_spxq .main_left .top .video_destils p i {
  margin-right: 30px;
}
.content_spxq .main_left .top .video_destils h6 {
  margin-top: 15px;
  font-size: 14px;
}
.content_spxq .main_left .top .video_destils #purchase {
  width: 100px;
  height: 36px;
  line-height: 36px;
  text-align: center;
  background: #387BEA;
  color: #fff;
  float: left;
  margin-top: 18px;
  cursor: pointer;
}
.content_spxq .main_left .bottom {
  width: 100%;
  height: auto;
  overflow: hidden;
}
.content_spxq .main_left .bottom h3 {
  font-size: 16px;
  line-height: 48px;
}
.content_spxq .main_left .bottom > p {
  line-height: 30px;
  color: #656565;
  text-indent: 28px;
  font-size: 14px;
}
.content_spxq .main_left .bottom .fenxiang {
  margin-top: 40px;
  text-indent: 0px;
}
.content_spxq .main_left .bottom .fuzhi {
  width: auto;
  height: 36px;
  margin: 10px 0;
  float: left;
}
.content_spxq .main_left .bottom .fuzhi span {
  font-size: 12px;
  line-height: 36px;
  color: #656565;
}
.content_spxq .main_left .bottom .fuzhi input {
  width: 380px;
  height: 34px;
  padding: 4px;
  font-size: 14px;
  color: #909090;
  border: 1px solid #DEDEDE;
  text-indent: 28px;
}
.content_spxq .main_left .bottom .fuzhi button {
  width: 90px;
  height: 34px;
  border: 1px solid #DEDEDE;
  background: #F1F1F1;
  color: #CECECE;
}
.content_spxq .main_left .bottom .fanhui {
  width: 100px;
  height: 36px;
  float: right;
  font-size: 14px;
  text-align: center;
  line-height: 36px;
  color: #FFFFFF;
  background: #3276E5;
  margin-top: 10px;
}
.content_spxq .main_left .bottom .fanhui img {
  margin-right: 4px;
}
.content_spxq .main_right {
  width: 310px;
  height: auto;
  overflow: hidden;
  padding: 15px;
  float: right;
  background: #F5F6FB;
}
.content_spxq .main_right h4 {
  font-size: 16px;
  color: #387BEA;
  line-height: 32px;
  border-bottom: 1px solid #DEDEDE;
}
.content_spxq .main_right h4 p {
  float: right;
}
.content_spxq .main_right h4 p i {
  width: 18px;
  height: 18px;
  border: 1px solid #DEDEDE;
  line-height: 14px;
  text-align: center;
  margin: 0 5px;
  display: inline-block;
  color: #C5C5C5;
  cursor: pointer;
}
.content_spxq .main_right h4 p i:hover {
  background: #387BEA;
  color: #fff;
}
.content_spxq .main_right .videolist {
  width: 100%;
  height: auto;
  overflow: hidden;
}
.content_spxq .main_right .videolist ul {
  width: 260px;
  height: auto;
  overflow: hidden;
  margin: 0 auto;
}
.content_spxq .main_right .videolist ul li {
  width: 260px;
  height: 240px;
  background: #FFFFFF;
  box-shadow: 0px 1px 6px 0px #ccc;
  margin: 20px 0;
}
.content_spxq .main_right .videolist ul li a {
  width: 100%;
  height: 190px;
  display: block;
  position: relative;
}
.content_spxq .main_right .videolist ul li a img {
  width: 100%;
  height: 100%;
}
.content_spxq .main_right .videolist ul li a > i:nth-child(2) {
  position: absolute;
  left: 50%;
  top: 50%;
  display: block;
  transform: translate(-50%, -50%);
  width: 50px;
  height: 50px;
  background: url(../img/index/bofang.png) no-repeat;
  background-size: 100% 100%;
}
.content_spxq .main_right .videolist ul li p {
  font-size: 16px;
  line-height: 50px;
  color: #0064C6;
  text-indent: 14px;
}
/*视屏详情 end*/
/*团队详情*/
/* 弹出层 */
.apply_box {
  width: 100vw;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.2);
  z-index: 5;
  display: none;
}
.apply_box .apply_cont {
  width: 500px;
  height: 320px;
  background: #FFFFFF;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.apply_box .apply_cont .apply_header {
  width: 100%;
  height: 40px;
  line-height: 40px;
  background: #387BEA;
}
.apply_box .apply_cont .apply_header p {
  font-size: 16px;
  text-indent: 30px;
  float: left;
  color: #FFFFFF;
}
.apply_box .apply_cont .apply_header i {
  float: right;
  margin: 10px 20px 10px 0;
  color: #FFFFFF;
  width: 20px;
  height: 20px;
  line-height: 20px;
  text-align: center;
  cursor: pointer;
}
.apply_box .apply_cont .apply_header i:hover {
  background: rgba(0, 0, 0, 0.1);
}
.apply_box .apply_cont .apply_main {
  width: 100%;
  height: calc(100% - 40px);
  padding: 0 60px;
}
.apply_box .apply_cont .apply_main p {
  width: 100%;
  height: 40px;
  line-height: 40px;
  margin-bottom: 6px;
  font-size: 14px;
  color: #959595;
}
.apply_box .apply_cont .apply_main p span {
  float: left;
  width: 75px;
  text-align: right;
  height: 40px;
}
.apply_box .apply_cont .apply_main p .text {
  margin: 0 4px 0 10px;
  width: 280px;
  height: 40px;
  border: 1px solid #AAACAB;
}
.apply_box .apply_cont .apply_main p .radio {
  margin: 0 4px 0 10px;
}
.apply_box .apply_cont .apply_main > button {
  width: 100px;
  height: 40px;
  color: #FFFFFF;
  font-size: 14px;
  border: none;
  border-radius: 4px;
  background: #C5C5C5;
  margin-top: 20px;
  cursor: pointer;
}
.apply_box .apply_cont .apply_main #submit {
  background: #387BEA;
  margin-left: 70px;
  margin-right: 20px;
}
.banner_tdxq {
  width: 100%;
  height: auto;
}
.banner_tdxq img {
  width: 100%;
  height: 100%;
}
.content_tdxq {
  width: 1200px;
  height: auto;
  overflow: hidden;
  margin: 0 auto;
}
.content_tdxq .indexing {
  width: 100%;
  height: 54px;
  border-bottom: 1px solid #F2F2F2;
  padding-top: 18px;
}
.content_tdxq .indexing p {
  height: 16px;
  font-size: 16px;
  color: #ABABAB;
  float: left;
}
.content_tdxq .indexing p img {
  width: 15px;
  height: 15px;
  margin-right: 8px;
}
.content_tdxq .indexing button {
  width: 80px;
  height: 30px;
  border: 1px solid #E4E4E4;
  background: #F2F2F2;
  color: #A4A4A4;
  float: right;
  cursor: pointer;
}
.content_tdxq .geren {
  width: 100%;
  height: 240px;
  background: #F8F9FC;
  padding: 20px 20px 20px 30px;
  margin-bottom: 20px;
}
.content_tdxq .geren .left {
  width: 50%;
  height: 100%;
  float: left;
}
.content_tdxq .geren .left .img {
  width: 220px;
  height: 200px;
  background: url(../img/index/member01.jpg) no-repeat;
  background-size: 100% 100%;
  float: left;
  margin-right: 40px;
}
.content_tdxq .geren .left .text {
  float: left;
}
.content_tdxq .geren .left .text > p {
  margin-top: 20px;
  line-height: 50px;
  border-bottom: 1px solid #E8E8E8;
  font-size: 16px;
  width: 100px;
}
.content_tdxq .geren .left .text ul {
  height: auto;
  margin: 18px auto 0;
}
.content_tdxq .geren .left .text ul li {
  font-size: 14px;
  line-height: 24px;
  color: #656565;
}
.content_tdxq .geren .right {
  width: 50%;
  height: 100%;
  float: right;
  padding: 20px 0 0 20px;
}
.content_tdxq .geren .right h3 {
  font-size: 16px;
  color: #222;
  line-height: 36px;
}
.content_tdxq .geren .right p {
  font-size: 14px;
  color: #656565;
  line-height: 28px;
}
.content_tdxq .hervideo {
  width: 100%;
  height: 390px;
  margin-bottom: 20px;
}
.content_tdxq .hervideo h3 {
  font-size: 16px;
  color: #222222;
  border-bottom: 1px solid #EEEEEE;
  line-height: 44px;
  margin-bottom: 20px;
}
.content_tdxq .hervideo > ul {
  width: 100%;
  display: flex;
  justify-content: space-between;
}
.content_tdxq .hervideo > ul > li {
  width: 260px;
  height: 330px;
  border: 1px solid #F6F6F6;
  box-shadow: 0px 1px 6px 0px #ccc;
}
.content_tdxq .hervideo > ul > li .video_img {
  width: 100%;
  height: 190px;
  display: block;
  position: relative;
}
.content_tdxq .hervideo > ul > li .video_img > img {
  width: 100%;
  height: 100%;
}
.content_tdxq .hervideo > ul > li .video_img > i:nth-child(2) {
  position: absolute;
  left: 50%;
  top: 50%;
  display: block;
  transform: translate(-50%, -50%);
  width: 50px;
  height: 50px;
  background: url(../img/index/bofang.png) no-repeat;
  background-size: 100% 100%;
}
.content_tdxq .hervideo > ul > li .lecturer {
  width: 232px;
  height: 66px;
  display: block;
  margin: 6px auto 0;
  border-bottom: 1px dashed #F3F3F3;
}
.content_tdxq .hervideo > ul > li .lecturer > a:nth-child(1) {
  font-size: 18px;
  line-height: 36px;
  color: #303030;
  display: block;
}
.content_tdxq .hervideo > ul > li .lecturer > a:nth-child(1):hover {
  color: #4D86EB;
}
.content_tdxq .hervideo > ul > li .lecturer > p:nth-child(2) {
  font-size: 14px;
  line-height: 30px;
  color: #959595;
  line-height: 18px;
}
.content_tdxq .hervideo > ul > li .lecturer > p:nth-child(2) > a:nth-child(1) {
  float: left;
  color: #959595;
}
.content_tdxq .hervideo > ul > li .lecturer > p:nth-child(2) > span:nth-child(2) {
  float: right;
}
.content_tdxq .hervideo > ul > li .lecturer > p:nth-child(2) > span:nth-child(2) i {
  font-size: 18px;
  color: red;
}
.content_tdxq .hervideo > ul > li .play {
  width: 88px;
  height: 28px;
  border: 1px solid #F0F0F0;
  display: block;
  line-height: 24px;
  text-align: center;
  margin: 16px 10px 0;
  float: left;
  font-size: 14px;
  color: #959595;
}
.content_tdxq .hervideo > ul > li .play:hover {
  border: 1px solid #6D9EF0;
  color: #6D9EF0;
}
.content_tdxq .hervideo > ul > li .time {
  font-size: 14px;
  float: right;
  margin: 20px 10px 0;
  color: #959595;
  line-height: 20px;
}
.content_tdxq .her_article {
  width: 100%;
  height: auto;
  overflow: hidden;
  margin-bottom: 20px;
}
.content_tdxq .her_article h3 {
  font-size: 16px;
  color: #222222;
  border-bottom: 1px solid #EEEEEE;
  line-height: 44px;
  margin-bottom: 20px;
}
.content_tdxq .her_article ul {
  width: 100%;
  overflow: hidden;
  height: auto;
}
.content_tdxq .her_article ul li {
  width: 100%;
  height: 146px;
  padding: 20px 20px 15px;
  border-bottom: 1px solid #F0F0F0;
}
.content_tdxq .her_article ul li .img {
  width: 180px;
  height: 110px;
  float: left;
  margin-right: 30px;
}
.content_tdxq .her_article ul li .img img {
  width: 100%;
  height: 100%;
}
.content_tdxq .her_article ul li .article {
  width: 740px;
  height: 100%;
  float: left;
}
.content_tdxq .her_article ul li .article > a {
  font-size: 16px;
  color: #222222;
  line-height: 36px;
}
.content_tdxq .her_article ul li .article p {
  font-size: 14px;
  color: #909090;
  line-height: 24px;
}
.content_tdxq .her_article ul li .article span {
  font-size: 12px;
  margin-top: 8px;
  color: #979797;
}
.content_tdxq .her_article .paging {
  width: 316px;
  height: 34px;
  border: 1px solid #E5E5E5;
  border-radius: 4px;
  margin: 30px auto 20px;
  display: flex;
}
.content_tdxq .her_article .paging a {
  flex: 1;
  height: 34px;
  border-right: 1px solid #E5E5E5;
  text-align: center;
  line-height: 34px;
  color: #909090;
}
.content_tdxq .her_article .paging a:nth-child(4) {
  border: none;
}
.content_tdxq .her_article .paging a:hover {
  background: #387BEA;
  color: #fff;
}
/*团队详情 end*/
/*智慧夏令营*/
.banner_bygkk {
  width: 100%;
  height: auto;
}
.banner_bygkk img {
  width: 100%;
  height: 100%;
}
.content_zhxly {
  width: 1200px;
  height: auto;
  overflow: hidden;
  margin: 0 auto;
}
.content_zhxly .indexing {
  width: 100%;
  height: 54px;
  border-bottom: 1px solid #F2F2F2;
  padding-top: 18px;
}
.content_zhxly .indexing p {
  height: 16px;
  font-size: 16px;
  color: #ABABAB;
  float: left;
}
.content_zhxly .indexing p img {
  vertical-align: middle;
  width: 15px;
  height: 15px;
  margin-right: 8px;
}
.content_zhxly #table {
  width: 200px;
  height: auto;
  overflow: hidden;
  margin: 15px auto;
}
.content_zhxly #table > li {
  width: 90px;
  height: 32px;
  border: 1px solid #E7E7E7;
  text-align: center;
  line-height: 32px;
  font-size: 16px;
  color: #656565;
  float: left;
  margin: 0 3px;
  cursor: pointer;
}
.content_zhxly #table > li:hover {
  background: #387BEA;
  color: #fff;
}
.content_zhxly #table .alid {
  background: #387BEA;
  color: #fff;
}
.content_zhxly .zhxly_main {
  width: 100%;
  height: auto;
  overflow: hidden;
}
.content_zhxly .zhxly_main > .show {
  display: block !important;
}
.content_zhxly .zhxly_main > div {
  display: none !important;
}
.content_zhxly .zhxly_main #themelist {
  width: 100%;
  height: auto;
  overflow: hidden;
}
.content_zhxly .zhxly_main #themelist .jieshao {
  width: 100%;
  height: 420px;
  padding: 30px 0 20px;
  border-bottom: 1px solid #F2F2F2;
}
.content_zhxly .zhxly_main #themelist .jieshao .left {
  float: left;
  width: 580px;
  height: 370px;
  margin-right: 40px;
  background: url(../img/news/left.jpg) no-repeat;
  background-size: 100% 100%;
}
.content_zhxly .zhxly_main #themelist .jieshao .right {
  width: calc(100% - 620px);
  height: 100%;
  float: right;
}
.content_zhxly .zhxly_main #themelist .jieshao .right h3 {
  line-height: 32px;
  font-size: 18px;
  color: #222222;
  text-align: center;
}
.content_zhxly .zhxly_main #themelist .jieshao .right i {
  width: 120px;
  border-bottom: 1px solid #ccc;
  display: block;
  margin: 4px auto;
}
.content_zhxly .zhxly_main #themelist .jieshao .right p {
  font-size: 14px;
  line-height: 32px;
  text-indent: 28px;
  color: #656565;
}
.content_zhxly .zhxly_main #themelist .jieshao .right p a {
  color: #387BEA;
  text-decoration: underline;
}
.content_zhxly .zhxly_main #themelist .activity {
  width: 100%;
  height: auto;
  overflow: hidden;
  padding: 20px 0 50px;
}
.content_zhxly .zhxly_main #themelist .activity > ul {
  width: 100%;
  height: auto;
  margin: 20px 0;
  display: flex;
  justify-content: space-around;
}
.content_zhxly .zhxly_main #themelist .activity > ul .activity {
  width: 280px;
  height: 330px;
  background: #F7F8FB;
  padding: 15px;
  cursor: pointer;
}
.content_zhxly .zhxly_main #themelist .activity > ul .activity:hover {
  background: #387BEA;
}
.content_zhxly .zhxly_main #themelist .activity > ul .activity:hover > .activity_text h4,
.content_zhxly .zhxly_main #themelist .activity > ul .activity:hover > .activity_text p {
  color: #FFFFFF !important;
}
.content_zhxly .zhxly_main #themelist .activity > ul .activity:hover > .activity_text h4 a,
.content_zhxly .zhxly_main #themelist .activity > ul .activity:hover > .activity_text p a {
  color: #FFFFFF !important;
}
.content_zhxly .zhxly_main #themelist .activity > ul .activity .activity_img {
  width: 100%;
  height: 180px;
  display: block;
  background-size: 100% 100%;
}
.content_zhxly .zhxly_main #themelist .activity > ul .activity .activity_img_one {
  background: url(../img/index/media01.jpg) no-repeat;
}
.content_zhxly .zhxly_main #themelist .activity > ul .activity .activity_img_two {
  background: url(../img/index/media02.jpg) no-repeat;
}
.content_zhxly .zhxly_main #themelist .activity > ul .activity .activity_img_three {
  background: url(../img/index/media03.jpg) no-repeat;
}
.content_zhxly .zhxly_main #themelist .activity > ul .activity .activity_img_four {
  background: url(../img/index/media04.jpg) no-repeat;
}
.content_zhxly .zhxly_main #themelist .activity > ul .activity .activity_text {
  width: 100%;
  height: 86px;
  margin-top: 6px;
  overflow: hidden;
}
.content_zhxly .zhxly_main #themelist .activity > ul .activity .activity_text h4 {
  font-size: 16px;
  line-height: 24px;
  color: #303030;
}
.content_zhxly .zhxly_main #themelist .activity > ul .activity .activity_text p:nth-child(2) {
  margin-top: 4px;
  font-size: 12px;
  line-height: 18px;
  color: #7E7E7F;
}
.content_zhxly .zhxly_main #themelist .activity > ul .activity .activity_text p:nth-child(3) {
  margin-top: 6px;
  font-size: 12px;
  color: #7E7E7F;
}
.content_zhxly .zhxly_main #themelist .activity > ul .activity .activity_text p:nth-child(3) span {
  float: left;
}
.content_zhxly .zhxly_main #themelist .activity > ul .activity .activity_text p:nth-child(3) a {
  float: right;
  color: #7E7E7F;
}
/*智慧夏令营 end*/
/*智慧夏令营详情*/
.content_zhxlyxq {
  width: 1200px;
  height: auto;
  overflow: hidden;
  margin: 0 auto;
} /*智慧夏令营详情 end*/
.content_zhxlyxq .indexing {
  width: 100%;
  height: 54px;
  border-bottom: 1px solid #F2F2F2;
  padding-top: 18px;
}
.content_zhxlyxq .indexing img {
  vertical-align: middle;
  width: 15px;
  height: 15px;
  margin-right: 8px;
}
.content_zhxlyxq .indexing p {
  height: 16px;
  font-size: 16px;
  color: #ABABAB;
}
.content_zhxlyxq .content {
  width: 100%;
  height: auto;
  overflow: hidden;
  margin-top: 20px;
}
.content_zhxlyxq .content .leftbar {
  width: 840px;
  height: auto;
  overflow: hidden;
  float: left;
}
.content_zhxlyxq .content .leftbar .top_title {
  width: 100%;
  height: 90px;
  border-bottom: 1px solid #F2F2F2;
}
.content_zhxlyxq .content .leftbar .top_title h2 {
  font-size: 20px;
  line-height: 40px;
  margin-top: 15px;
}
.content_zhxlyxq .content .leftbar .top_title span {
  font-size: 14px;
  display: inline-block;
  height: 14px;
  margin-right: 40px;
  color: #979797;
}
.content_zhxlyxq .content .leftbar .top_title span img {
  width: 14px;
  height: 14px;
  vertical-align: middle;
  margin: 0 4px;
}
.content_zhxlyxq .content .leftbar .content_text {
  width: 100%;
  height: auto;
  overflow: hidden;
  padding: 20px;
}
.content_zhxlyxq .content .leftbar .content_text p {
  font-size: 14px;
  line-height: 28px;
  color: #868686;
  text-indent: 28px;
}
.content_zhxlyxq .content .leftbar .content_text .img {
  width: 650px;
  height: 400px;
  margin: 20px auto;
  background: url(../img/news/cont.gif) no-repeat;
  background-size: 100% 100%;
}
.content_zhxlyxq .content .leftbar .content_text .back {
  float: left;
  margin-top: 40px;
  line-height: 28px;
}
.content_zhxlyxq .content .leftbar .content_text .back img {
  width: 40px;
  height: 28px;
  margin: 0 4px;
  vertical-align: middle;
}
.content_zhxlyxq .content .leftbar .content_text .bottom {
  width: 100%;
  height: auto;
  border-top: 1px solid #F3F3F3;
  border-bottom: 1px solid #F3F3F3;
  position: relative;
  margin-top: 15px;
  float: left;
}
.content_zhxlyxq .content .leftbar .content_text .bottom a {
  font-size: 14px;
  line-height: 74px;
  color: #6B6B6B;
}
.content_zhxlyxq .content .leftbar .content_text .bottom a:nth-child(1) {
  float: left;
}
.content_zhxlyxq .content .leftbar .content_text .bottom a:nth-child(2) {
  width: auto;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
}
.content_zhxlyxq .content .leftbar .content_text .bottom a:nth-child(3) {
  float: right;
}
.content_zhxlyxq .content .leftbar .content_text .apply {
  width: 150px;
  height: 38px;
  float: right;
  background: #387BEA;
  margin-top: 40px;
  text-align: center;
  line-height: 38px;
  color: #FFFFFF;
}
.content_zhxlyxq .content .rightbar {
  width: 310px;
  height: auto;
  overflow: hidden;
  float: right;
  padding: 16px;
  background: #F5F6FA;
}
.content_zhxlyxq .content .rightbar h3 {
  font-size: 18px;
  line-height: 36px;
  color: #3276E5;
  border-bottom: 1px solid #E2E4E3;
}
.content_zhxlyxq .content .rightbar > ul {
  width: 100%;
  height: auto;
}
.content_zhxlyxq .content .rightbar > ul li {
  padding: 10px 0;
  border-bottom: 1px solid #E2E4E3;
}
.content_zhxlyxq .content .rightbar > ul li a:nth-child(1) {
  font-size: 16px;
  color: #3B3D3A;
  line-height: 20px;
}
.content_zhxlyxq .content .rightbar > ul li p:nth-child(2) {
  font-size: 14px;
  color: #747575;
  line-height: 20px;
}
.content_zhxlyxq .content .rightbar > ul li span {
  font-size: 12px;
  color: #AAACAB;
  line-height: 30px;
}
/*# sourceMappingURL=public.css.map */
